:root {
    --transition-time: 3s
}

.modal {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-time);

    // &::before {
    //     content: "";
    //     display: inline-block;
    //     vertical-align: middle;
    //     height: 100vh;
    // }

    &.show {
        opacity: 1;
        visibility: visible;
        transition: var(--transition-time);
    }
}

.modal__item {
    position: relative;
    display: none;
    width: 600px;
    margin: 50px;
    background-color: #fff;
    cursor: default;
    padding: 20px 25px;
    max-height: 90%;
    transition: var(--transition-time);
    box-sizing: border-box;
    overflow-y: auto;

    &.m-0 {
        margin: 0 !important;
    }

    &.position-top {
        margin-bottom: auto !important;
    }

    &.position-center {
        margin: auto !important;
    }

    &.position-bottom {
        margin-top: auto !important;
    }


    &.show {
        display: inline-block;
    }

    &.fadeIn {
        opacity: 0;
        transition: var(--transition-time);
    }



    &.fadeIn.animation-show {
        opacity: 1;
        transition: var(--transition-time);
    }

    &.fadeInUp {
        transform: translateY(-2000px) scale(0.5);
        opacity: 0.7;
        transition: var(--transition-time);
    }

    &.fadeInUp.animation-show {
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-time);
    }

    &.fadeInDown {
        transform: translateY(2000px) scale(0.5);
        opacity: 0.7;
        transition: var(--transition-time);
    }

    &.fadeInDown.animation-show {
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-time);
    }

    &.fadeInLeft {
        transform: translateX(-2000px) scale(0.5);
        opacity: 0.7;
        transition: var(--transition-time);
    }

    &.fadeInLeft.animation-show {
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-time);
    }

    &.fadeInRight {
        transform: translateX(2000px) scale(0.5);
        opacity: 0.7;
        transition: var(--transition-time);
    }

    &.fadeInRight.animation-show {
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-time);
    }

    &::-webkit-scrollbar {
        margin-top: 50px;
        width: 5px;
        background-color: #eee;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }
}

.modal__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: .5;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-time);

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

}

.modal__content {
    padding-right: 5px;
    box-sizing: border-box;

    p {
        margin: 0;
        padding: 0;
    }

}

.disable--scroll {
    overflow: hidden;
}

.disable--scroll-strong {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and(max-width: 767px) {
    .modal {

        .modal__item {
            width: calc(100% - 15px);
            max-width: calc(100% - 15px);
            margin: 25px 0;
            padding: 20px;
        }
    }

}